<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone likes or hates one of your movies, <%= @user.name %></h1>
  </body>
</html>
